body {
  background-color: green;
  text-align: center;
  font-family: sans-serif;
  margin: 50px;
}

h1 {
  color: black;
}


button {
  padding: 20px;
  margin: 10px;
  background-color: blue;
  color: white;
  border: 6px solid black;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}


button:hover {
  background-color: darkblue;
}


#waitMessage {
  display: none;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 40px;
}


#resultBox {
  display: none;
  border: 5px solid black;
  background-color: white;
  width: 60%;
  margin: 50px auto;
  padding: 20px;
}

#resultBox h1 {
  font-size: 70px; 
  margin: 0;
}

#resultBox p {
  font-size: 30px;
}
