body {
  background-color: white;
  text-align: center;
  font-family: sans-serif; /* Basic font */
}

h1 {
  color: black;
}

/* Big blocky buttons */
button {
  padding: 15px;
  margin: 5px;
  background-color: blue;
  color: white;
  border: 2px solid black;
  font-size: 18px;
  cursor: pointer;
}

/* Simple Loading Text */
#waitMessage {
  display: none;
  font-size: 25px;
  color: blue;
  margin-top: 30px;
}

/* The Definition Box - Looks like a plain card */
#resultBox {
  display: none;
  border: 5px solid black;
  width: 50%;
  margin: 50px auto; /* Centers the box */
  padding: 20px;
  background-color: white;
}

#resultBox h1 {
  font-size: 60px;
  margin: 0px;
}

#resultBox p {
  font-size: 30px;
}
